@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Login">
    <label>Email</label>
    <input type="email" name="email" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button type="submit">Log In</button>
</form>
